body {
	font-family: roboto;
	margin: 0;
	padding: 0;
}
form {
	max-width: 500px;
	margin: 0 auto;
}
.form-control {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 1rem;
}
button,
input {
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
	border: 1px solid lightgray;
}
.modal-verify-account {
	background-color: rgba(0, 0, 0, 0.8);
	min-width: 100%;
	min-height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	display: none;
}
.modal-verify-account__box {
	background-color: #fff;
	padding: 1.5rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	min-width: 24rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#loading-screen {
	position: fixed;
	z-index: 100;
	width: 100%;
	min-height: 100vh;

	background-color: rgba(0, 0, 0, 0.627);
}
#spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: spin 2s linear infinite;
}
#spinner::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 10px solid seashell;
	border-style: outset;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.hidden {
	display: none;
}
#loading-text {
	/* text-align: center; */
	color: white;
	position: absolute;
	position: absolute;
	bottom: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}
