<script>
	import "dotenv/config";
	const BASE_URL = process.env.NODE_ENV.indexOf("PRODUCTION") >= 0 ? process.env.SERVER : process.env.LOCAL_SERVER;
	(async () => {
		const params = new URLSearchParams(window.location.search);
		if (params.has("token")) {
			try {
				const response = await fetch(`${BASE_URL}/api/activate-account`, {
					method: "POST",
					mode: "cors",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						token: params.get("token"),
					}),
				});
				if (response.ok) {
					alert("Activate account successfully!");
					window.close();
				}
			} catch (error) {
				console.log(error);
			}
		}
	})();
</script>
